# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data & Videos
data/

*.avi

# Outputs

outputs/*.json

# Model weights (optional – include if asked)


# Logs
*.log
